.social {
  font-family: "Playfair Display", sans-serif;
  background-color: rgba(255, 240, 235, 1);
  box-shadow: 0 0 0 2pt rgba(245, 61, 93, 0.2);
  font-size: 0.8em;
  text-align: center;
  padding-top: 5em;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialIcons {
  display: flex;
  align-items: center;
  text-align: center;
}

.socialItem {
  width: 5em;
  height: 5em;
}

.author {
  text-align: center;
  font-size: 1em;
  margin-top: 5em;
  padding-bottom: 1em;
}
