.delivery {
  background-color: rgba(255, 240, 235, 1);
}

.deliveryDescription {
  font-family: "Playfair Display", sans-serif;
  font-size: calc(6px + 2vmin);
  background: url("../Images/photo-back.png") fixed;
  background-size: 100% 100%;
  min-height: 28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 13rem;
}

.deliveryDescriptionIcons {
  background-color: rgba(255, 240, 235, 1);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 10em;
  padding-bottom: 10em;
}

.deliveryDescriptionCard {
  width: 32rem;
  height: 30rem;
  background-color: rgba(255, 232, 216, 0.7);
  box-shadow: 0 0 0 3pt rgba(245, 61, 93, 0.2);
  border-radius: 0.2em;
  padding: 3em 2em 1em 1em;
  margin-left: 7em;
  margin-right: 7em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.deliveryDescriptionCardPic {
  width: 9rem;
  height: 9rem;
}

.deliveryDescriptionCardTitle {
  font-size: calc(10px + 1vmin);
}

.deliveryDescriptionCardText {
  width: 90%;
  height: 100%;
  font-size: calc(10px + 1vmin);
}

.deliveryButton {
  font-family: "Playfair Display", sans-serif;
  width: 30%;
  padding: 1em;
  margin-right: 1em;
  margin-left: 35%;
  margin-top: 1em;
  margin-bottom: 15em;
  font-size: calc(8px + 1vmin);
  text-align: center;
  border: 0.3em solid rgba(245, 61, 93, 0.6);
  background-color: rgba(255, 232, 216, 0.7);
  box-shadow: 0 0 0 3pt rgba(245, 61, 93, 0.2);
  border-radius: 2em;
}
